# STOP COMMITING SWAPS PLZ
.*.swp
*swp*
./**/.*.swp
**swp**

*.log
**.log

*tmp*

*.idea*
**.idea*

.idea/*
.ipynb_checkpoints
.ipynb_checkpoints/*

__pycache__/*
*pycache*
*pycache*/*
**.pyc

**.h5
*.h5
*/*.h5

*logs/*
logs/*
**logs**

**ckpt*
*ckpt*
models/*ckpt*
models/*checkpoint*
models/*out*
models/*.pbtxt*
