flags.txt
run.sh

**/images/hidden/*

# Note: Any leading '**' need to be followed by a '/'. 
# Seems like '**/thing_to_ignore_always[/*]' covers all bases.
**/.*.swp
**/.log
**/tmp*
**/.idea/*
**/.ipynb_checkpoints/*
**/__pycache__/*
**/*.pyc
**/*.h5/*
**/out/**
.cache/**
**/.cache/**
**/notebooks/*.txt

# Ignore collection of useful tf files that once 
# existed in tf repo but have since been removed. 
# They will be missed. 
**/reference/*
**/saved_train_data/**
