section {
  padding-top: 3em;
}

header {
  color: rgb(255, 255, 255);
}

header .intro-text .intro-lead-in {
  text-shadow: 1px 1px black;
}

header .intro-text .intro-heading {
  text-shadow: 3px 3px black;
}

.navbar-custom .navbar-brand {
  color: rgb(255, 255, 255);
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: rgb(20, 150, 220);
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: rgb(20, 150, 220);
  outline: none;
}

.navbar-custom .navbar-nav > .active > a {
  color: white;
  background-color: rgb(20, 150, 220);
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: rgb(20, 100, 180);
}

.btn-xl {
  color: white;
  background-color: rgb(20, 150, 220);
  border-color: rgb(20, 130, 200);
  text-shadow: 1px 1px 3px black;
}

#chat-submit {
  background-color: rgb(20, 150, 220);
  border-color: rgb(20, 130, 200);
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: white;
  background-color: rgb(20, 100, 180);
  border-color: rgb(20, 80, 160);
}

#chat-box {
  background-image: none;
  background-color: rgb(134, 201, 254);
}

#chat-log {
  position: relative;
  height: 245px;
  margin-bottom: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 3em;

  border: 2px solid none;
  border-radius: 5px;

  color: black;
  background-color: transparent;

  overflow-y: auto;
  word-wrap: break-word;
}

#chat-form {
  padding-left: 3em;
  padding-right: 3em;
}

.bot-name {
  color: green;
  font-weight: italic;
}

.user-name {
  color: blue;
  font-weight: italic;
}

.message {
  margin-left: 0.1em;
  margin-right: 0.1em;
}

#chat-log hr {
  height: 1px;
  display: block;

  border: 0;
  border-top: 1px solid lightgray;

  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#chat-log .bot-message {
}

#chat-log .user-message {
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}
