{% extends "base.html" %}

{% block title %}U Lost Yo{% endblock title %}

{% block page_content %}

  <div class="jumbotron">
  <h1>NOTHING TO SEE HERE</h1>
  <p>
    You done got yourself a 404, my friend. How about we just
    hit that backspace button and pretend this never happend.
    OMG
  </p>
  </div>


  <div class="text-center">
  <img src="https://c1.staticflickr.com/9/8041/8039292664_cf159436ff_b.jpg"
       class="img-fluid rounded"
       alt="Responsive image">
  </div>

{% endblock page_content %}