{%  extends  "base.html" %}
{% set active_page = "about" %}

{% block nav_session_user %}
<ul class="nav navbar-nav navbar-right">
<span id='nav-session-user' class="navbar-text">
  {% if user %}
    User: {{ user }}
  {% else %}
    User: Anon
  {% endif %}
</span>
</ul>
{% endblock nav_session_user %}



<!-- Chat Section -->
{% block page_content %}
  <div class="jumbotron">
    <h1>DeepChatModels</h1>
    <p>
      A small framework for building and playing with conversation models in TensorFlow.
    </p>
  </div>


  <div class="row">
    <div class="media">
      <div class="media-left media-top">
        <a href="#">
          <img src="https://avatars3.githubusercontent.com/u/11165945?v=3&s=460"
               class="img-rounded">
        </a>
      </div>

      <div class="media-body">

        <h2>About Me</h2>
        <p>
          I recently graduated (Dec 2016) from UC Berkeley, and now
          I spend my time working on personal projects like this, and also
          studying machine learning/data science/etc.
        </p>

        <hr>
        <h3>Links</h3>
        <a class="btn btn-social-icon btn-github"
           href="https://github.com/mckinziebrandon/DeepChatModels">
          <!--<i class="fa fa-github fa-2x" aria-hidden="true">GitHub</i>-->
          <span class="fa fa-github fa-5x"></span>
        </a>

      </div>
    </div>
  </div>

{% endblock page_content %}
