{%  extends  "base.html" %}
{% set active_page = "about" %}

<!-- Chat Section -->
{% block page_content %}
    <div class="jumbotron">
        <h1>DeepChatModels</h1>
        <p>
          A small framework for building and playing with conversation models in TensorFlow.
        </p>
    </div>


  <div class="row">
    <div class="media">
        <div class="media-left media-top">
          <a href="#">
              <img src="https://avatars3.githubusercontent.com/u/11165945?v=3&s=460"
            class="img-rounded">
          </a>
        </div>

        <div class="media-body">
            <h2>About Me</h2>
            <p>
              I recently graduated (Dec 2016) from UC Berkeley, and now
              I spend my time working on personal projects like this, and also
              studying machine learning/data science/etc.
            </p>
        </div>
    </div>
  </div>

{% endblock page_content %}
