{%  extends  "base.html" %}
{% set active_page = "about" %}

<!-- Chat Section -->
{% block page_content %}
    <div class="jumbotron">
        <h1>DeepChatModels</h1>
        <p>
          A small framework for building and playing with conversation models in TensorFlow.
        </p>
    </div>

    <h2>About Me</h2>
    <div class="row">
        <!-- BRANDON MC-CHATBOT -->
        <div class="col-xs-6">
            <div class="thumbnail">
                <img src="https://avatars3.githubusercontent.com/u/11165945?v=3&s=460">
                <div class="caption">
                    <h3>Brandon McKinzie</h3>
                    <p>To-do . . .</p>
                </div>
            </div>
        </div>
    </div>

{% endblock page_content %}
