<!doctype html>
<html lang="en">
<!-- app/templates/base.html: Base template that includes:
    * navigation bar
    * title logic

Misc. Notes:
    - We assume that templates have been passed certain vars when called.
    - The 'block' control statement defines the place(s) where the derived
      templates can insert themselves.
-->

<head>
  {% block head %}

    {% block metas %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock metas %}

    <title>
      {% block title %}
        Abstract Title
      {% endblock title %}
    </title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" id="theme-link"
          href="{{ url_for('static', filename='css/flatly-bootstrap.min.css') }}">

    <!-- Bootstrap theme -->
    <!--<link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">-->

    <!-- Custom styles for this template (I see ur overrule with an overrule. -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/theme.css') }}">

    <!-- Custom styles for this template (I see ur overrule with an overrule. -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/theme.css') }}">

    <!-- Bootstrap slider -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.3/css/bootstrap-slider.min.css">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Load the moment.js file (which depends on jQuery). -->
    {{ moment.include_moment() }}

    <!-- Load the Flask-PageDown template macro from CDN -->
    {{ pagedown.include_pagedown() }}

    <!-- Syntax Highlighting -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>


    <!-- Slider js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.3/bootstrap-slider.min.js"></script>

  {% endblock head %}
</head>

<!-- The body -->
<body>


<!-- Any derived navbar implementations will be injected here. -->
{% block navbar %}{% endblock navbar %}

<!-- Declare a block with name 'content' for derived templates. -->
{% block content %}
  <div class="container">
    <!-- Display any flash() message calls from e.g. views.py -->
    {%  with messages = get_flashed_messages() %}
      {%  if messages %}
        <div class="alert alert-info">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
  </div>  <!-- end: container -->
{%  endblock content %}

{% block scripts_end %}
{% endblock scripts_end %}
<!-- It appears that bootstrap js must be placed here. -->
<script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>


<!--
<div class="container">
  <hr>
<footer>
      <p style="color:#4b4b4b; font-size:0.9em; text-align: center; bottom: 0;">I am a footer.
      </p>
</footer>
</div>
-->

</body>
</html>
